header.acc-header
	.container
		.wrapper
			.logo
				a(href="#")
					img(src="./img/logo.png", alt="")
			.nav-wrapper
				.top-nav
					.top-nav-menu
						ul
							li
								a(href="#") Lorem 1
							li
								a(href="#") Lorem 1
							li
								a(href="#") Lorem 1
					.Module-140
						.searchbox
							input.searchinput(type='text' placeholder='Search')
							button.searchbutton(type='submit')
								span.fas.fa-search
					.Module-141
						a(href="#").facebook
							span.fab.fa-facebook-f
					.Module-142
						a(href="#").youtube
							span.fab.fa-youtube
					.Module-143
						.language
							a(href="#").active EN
							a(href="#") VN
					.toggle-menu
						span 
						span 
						span 
				.bottom-nav
					ul.nav
						li.nav-item
							a.nav-link(href="index.html") Home
						li.nav-item
							a.nav-link(href="about.html").active About Us
						li.nav-item
							a.nav-link(href="product.html") Products
						li.nav-item
							a.nav-link(href="service.html") Services
						li.nav-item.has-sub
							a.nav-link(href="news.html") News
							ul.sub-menu
								li.sub-item
									a.sub-link(href="news.html") News &amp; Events
								li.sub-item
									a.sub-link(href="photo.html") Photo
								li.sub-item
									a.sub-link(href="video.html") Video

						li.nav-item
							a.nav-link(href="investor.html") Investor Relations
						li.nav-item
							a.nav-link(href="career.html") Career
						li.nav-item
							a.nav-link(href="contact.html") Contact
		.backdrop


