section.experties-display
	.container
		.row
			.col-lg-5
				h2 Expertise
				p Diverse, distinct and superior in quality – that is the comment of many partners about ACC products. We are always looking for and cooperating with reputable domestic and international suppliers. At the same time, ACC invests in in-depth research to build highly updated materials, flavorings and additives solutions.
				a(href="#").view-more-button  Read more
			.col-lg-7
				.experties-wrapper
					.experties-image
						a(href="")
							img(src="./img/home/1.jpg", alt="")
							h3 Sourcing
					.experties-image
						a(href="")
							img(src="./img/home/2.jpg", alt="")
							h3 Production
					.experties-image
						a(href="")
							img(src="./img/home/3.jpg", alt="")
							h3 Research and Development
					.experties-image
						a(href="")
							img(src="./img/home/4.jpg", alt="")
							h3 market insights
					.experties-image
						a(href="")
							img(src="./img/home/5.jpg", alt="")
							h3 Innovation


