section.acc-news-1.acc-news-home
	.container
		h1 News &amp; Events
		.row
			.col-sm-6.col-lg-4
				.news-small-item.news-home
					figure.box-item
						.box-img
							a(href="")
								img(src="./img/news/news_2.jpg", alt="alt")
							.news-type
								p Type news
						figcaption
							h2 Mekong Enterprise Fund II Ltd had invested about $3.4 million in Asia Chemical Corporation. Mekong Enterprise Fund II Ltd had invested about $3.4 million in Asia Chemical Corporation.
			.col-sm-6.col-lg-4
				.news-small-item.news-home
					figure.box-item
						.box-img
							a(href="")
								img(src="./img/news/news_2.jpg", alt="alt")
							.news-type
								p Type news
						figcaption
							h2 Mekong Enterprise Fund II Ltd had invested about $3.4 million in Asia Chemical Corporation.
			.col-sm-6.col-lg-4
				.news-small-item.news-home
					figure.box-item
						.box-img
							a(href="")
								img(src="./img/news/news_2.jpg", alt="alt")
							.news-type
								p Type news
						figcaption
							h2 Mekong Enterprise Fund II Ltd had invested about $3.4 million in Asia Chemical Corporation.
