section.expertise-display
	.container
		.row
			.col-lg-7
				.expertise-title
					h1 Symega believes in the power of collaboration.
					p We like to partner with our customers right from project inception, through product commercialisation using our experience and expertise in the field. With an informed, committed, and passionate team of professionals at work, we strive to provide you with solutions that would bring your ideas to life, faster and better.
			.col-lg-5
				.expertise-image
					.wrapper
						img(src="./img/home/6.jpg", alt="")
section.expertise-display-list
	.container
		.row.expertise-wrapper
			.col-lg-5
				.expertise-image
					.wrapper
						img(src="./img/home/1.jpg", alt="")
			.col-lg-7
				.expertise-caption
					h2 Sourcing
					strong Our path to delightful ingredients starts with the right sourcing practices.
					p Our raw materials come from the best of suppliers located around the world, tested and certified against the highest standards of quality and consistency. We constantly update our portfolio with the latest raw materials to ensure that we remain on top of any ingredient innovation in the industry. And our sourcing team on the ground ensures economy and speed through the value chain, enabling us to be agile and responsive to customer needs, effectively guaranteeing fastest turnarounds.
section.expertise-display-list
	.container
		.row.expertise-wrapper
			.col-lg-5
				.expertise-image
					.wrapper
						img(src="./img/home/1.jpg", alt="")
			.col-lg-7
				.expertise-caption
					h2 Sourcing
					strong Our path to delightful ingredients starts with the right sourcing practices.
					p Our raw materials come from the best of suppliers located around the world, tested and certified against the highest standards of quality and consistency. We constantly update our portfolio with the latest raw materials to ensure that we remain on top of any ingredient innovation in the industry. And our sourcing team on the ground ensures economy and speed through the value chain, enabling us to be agile and responsive to customer needs, effectively guaranteeing fastest turnarounds.
section.expertise-display-list
	.container
		.row.expertise-wrapper
			.col-lg-5
				.expertise-image
					.wrapper
						img(src="./img/home/1.jpg", alt="")
			.col-lg-7
				.expertise-caption
					h2 Sourcing
					strong Our path to delightful ingredients starts with the right sourcing practices.
					p Our raw materials come from the best of suppliers located around the world, tested and certified against the highest standards of quality and consistency. We constantly update our portfolio with the latest raw materials to ensure that we remain on top of any ingredient innovation in the industry. And our sourcing team on the ground ensures economy and speed through the value chain, enabling us to be agile and responsive to customer needs, effectively guaranteeing fastest turnarounds.
section.expertise-display-list
	.container
		.row.expertise-wrapper
			.col-lg-5
				.expertise-image
					.wrapper
						img(src="./img/home/1.jpg", alt="")
			.col-lg-7
				.expertise-caption
					h2 Sourcing
					strong Our path to delightful ingredients starts with the right sourcing practices.
					p Our raw materials come from the best of suppliers located around the world, tested and certified against the highest standards of quality and consistency. We constantly update our portfolio with the latest raw materials to ensure that we remain on top of any ingredient innovation in the industry. And our sourcing team on the ground ensures economy and speed through the value chain, enabling us to be agile and responsive to customer needs, effectively guaranteeing fastest turnarounds.
section.expertise-display-list
	.container
		.row.expertise-wrapper
			.col-lg-5
				.expertise-image
					.wrapper
						img(src="./img/home/1.jpg", alt="")
			.col-lg-7
				.expertise-caption
					h2 Sourcing
					strong Our path to delightful ingredients starts with the right sourcing practices.
					p Our raw materials come from the best of suppliers located around the world, tested and certified against the highest standards of quality and consistency. We constantly update our portfolio with the latest raw materials to ensure that we remain on top of any ingredient innovation in the industry. And our sourcing team on the ground ensures economy and speed through the value chain, enabling us to be agile and responsive to customer needs, effectively guaranteeing fastest turnarounds.
section.expertise-display-list
	.container
		.row.expertise-wrapper
			.col-lg-5
				.expertise-image
					.wrapper
						img(src="./img/home/1.jpg", alt="")
			.col-lg-7
				.expertise-caption
					h2 Sourcing
					strong Our path to delightful ingredients starts with the right sourcing practices.
					p Our raw materials come from the best of suppliers located around the world, tested and certified against the highest standards of quality and consistency. We constantly update our portfolio with the latest raw materials to ensure that we remain on top of any ingredient innovation in the industry. And our sourcing team on the ground ensures economy and speed through the value chain, enabling us to be agile and responsive to customer needs, effectively guaranteeing fastest turnarounds.
