section.acc-customer-1
	.container
		h1 Customer
		.row.no-gutters
			.img-wrapper
				.img
					img(src="./img/about/about_6.png", alt="")
			.img-wrapper
				.img
					img(src="./img/about/about_7.png", alt="")
			.img-wrapper
				.img
					img(src="./img/about/about_8.png", alt="")
			.img-wrapper
				.img
					img(src="./img/about/about_9.png", alt="")
			.img-wrapper
				.img
					img(src="./img/about/about_10.png", alt="")
			.img-wrapper
				.img
					img(src="./img/about/about_11.png", alt="")