<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<newstype name="Tin tức" value="0"></newstype>
	<!--<showoption name="Icon new" value="1"></showoption>-->

	<templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
	<templatelist xsltname="Innovation-News.xslt" name="ACC Innovation List"></templatelist>
	<templatelist xsltname="ACC-NewsList.xslt" name="ACC News List"></templatelist>
	<templatelist xsltname="ACC-PhotoList.xslt" name="ACC Photo List"></templatelist>
	<templatelist xsltname="ACC-VideoList.xslt" name="ACC Video List"></templatelist>
	<templatelist xsltname="ACC-JobList.xslt" name="ACC Job List"></templatelist>
	<templatelist xsltname="ACC-Customer.xslt" name="ACC Customer List"></templatelist>
	<templatelist xsltname="ACC-ServicesPhotos.xslt" name="ACC Services Photos"></templatelist>

	<templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
	<templatedetail xsltname="ACC-NewsDetail.xslt" name="ACC News Detail"></templatedetail>
	<templatedetail xsltname="ACC-ProductDetail.xslt" name="ACC Product Detail"></templatedetail>
	<templatedetail xsltname="ACC-ServicesDetail.xslt" name="ACC Service Detail"></templatedetail>
	<position>
		<!--<add name="Trang chủ" value="1" resourcefile="" />-->
		<add name="Trang chủ Experties" value="1" resourcefile="" />
	</position>
</templates>
