section.acc-product-1
	.container
		.row
			.col-lg-4
				h1.h-title Product Safety and High Quality
			.col-lg-8
				.content
					span Our product portfolio ranges from commodity chemicals to specialty ingredients.
					span The products includes Additives, Dairy Powers, Flavors, span Vitamins, Exipients,
					span Auxiliaries, Acids, Nutritionals, Minerals,... which are used in many consumer and industrial products.

					p With more than 1,000 products, we have solutions to fit many applications, including Food & Seafood, Dairy & Beverage, Bakery & Confectionery, Pharmaceutical, Cosmetic, Industrial Paint, Industrial Textile, Feed & VET and other industrial applications.
					p In addition, if you don’t see what you’re looking for, we can work with you to create a custom solution or provide the expert help you need to find an existing one.
		.row.zone.grid-row-10-sm
			- for ( var x = 0;x < 12 ;x++)
				.col-lg-3.col-md-4.col-6.grid-col-10-sm
					a(href="product-detail.html")
						figure
							.box-zoom
								img(src='./img/product/product_1.jpg', alt='')
							figcaption
								h3 Food and Seafood
section.acc-product-2
	.container
		.row
			.col-lg-4
				h1.h-title Services
			.col-lg-8
				.content
					span Our product portfolio ranges from commodity chemicals to specialty ingredients.
					span The products includes Additives, Dairy Powers, Flavors, span Vitamins, Exipients,
					span Auxiliaries, Acids, Nutritionals, Minerals,... which are used in many consumer and industrial products.

					p With more than 1,000 products, we have solutions to fit many applications, including Food & Seafood, Dairy & Beverage, Bakery & Confectionery, Pharmaceutical, Cosmetic, Industrial Paint, Industrial Textile, Feed & VET and other industrial applications.
					p In addition, if you don’t see what you’re looking for, we can work with you to create a custom solution or provide the expert help you need to find an existing one.
		.row.row-child
			.col-12
				h3.h-title Innovation
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat magnam non hic consequuntur maxime similique molestiae? Similique saepe maxime aliquam ad earum consectetur, dolor pariatur velit, hic eos natus incidunt!
				.video
					<iframe src="https://www.youtube.com/embed/5rtj8GePvIs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		.row.row-child
			.col-12
				h3.h-title Lorem ipsum
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat magnam non hic consequuntur maxime similique molestiae? Similique saepe maxime aliquam ad earum consectetur, dolor pariatur velit, hic eos natus incidunt!
				.slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.img
									img(src="./img/investor/investor_1.jpg", alt="")
							.swiper-slide
								.img
									img(src="./img/investor/investor_1.jpg", alt="")
							.swiper-slide
								.img
									img(src="./img/investor/investor_1.jpg", alt="")
					.swiper-navigation
						.swiper-prev
							span.mdi.mdi-chevron-left
						.swiper-next
							span.mdi.mdi-chevron-right
