extends _layout.pug

block var
	- title = 'Home'
	- bodyClass = 'index-page'

block main
	include ../components/banner/b-1/index.pug
	include ../components/breadcrumb/b-1/index
	include ../components/about/a-0/index.pug
	include ../components/about/a-1/index.pug
	include ../components/about/a-2/index.pug
	include ../components/about/a-3/index.pug
	include ../components/about/a-4/index.pug
	//- include ../components/about/a-5/index.pug
	//- include ../components/about/a-6/index.pug
	//- include ../components/about/a-7/index.pug
	//- include ../components/about/a-8/index.pug
