extends _layout.pug

block var
	- title = 'Home'
	- bodyClass = 'index-page'

block main
	include ../components/banner/b-1/index
	include ../components/breadcrumb/b-1/index
	include ../components/investor/i-1/index
