<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
  </position>
  
  <showoption name="Mới" value="1" class="promotion op1" />
  <showoption name="Khuyến mãi" value="2" class="promotion op2" />

  <templatelist xsltname="ACC-ContactSales.xslt" name="Contact Sale" />

  <templatedetail xsltname="SanPham-CT.xslt" name="Sản phẩm chi tiết " />
</templates>