<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Main menu" value="1" resourcefile="" />
      <add name="Menu footer about us" value="2" resourcefile="" />
      <add name="Menu footer products" value="4" resourcefile="" />
      <add name="Menu footer services" value="8" resourcefile="" />
      <add name="Menu footer news" value="16" resourcefile="" />
      <add name="Menu policy" value="32" resourcefile="" />
      <add name="Menu about" value="64" resourcefile="" />
      <add name="Menu home product" value="128" resourcefile="" />
	  <add name="Menu home top" value="256" resourcefile="" />
	  <add name="Expetise Text" value="512" resourcefile="" />
	  <add name="Expetise Navigation 2" value="1024" resourcefile="" />
	  <add name="Product Sort " value="2048" resourcefile="" />
    </position>

</settings>
