section.contact-banner-information
	.container
		.banner-wrapper
			.banner-right
				h2 Let's Explore Possibilities
				p Get in touch with us otday with your ideas
			.banner-left
				.contact-us-button contact us
					.information-wrapper
						a(href="mailto:leduy@asia-chemical.com")
							em.mdi.mdi-email
							span leduy@asia-chemical.com

						a(href="tel:0932 989 789") 
							em.mdi.mdi-phone
							span 0932 989 789
